.main-footer
{
    background: rgb(1,41,111);
    background: -moz-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36, 1) 100%);
    background: -webkit-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36, 1) 100%);
    background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01296f",endColorstr="#000d24",GradientType=1);
    background-size: cover;
    padding: 75px 0;
    color: white;
}

.footer-content
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
}

.f-info
{
    padding: 5px 0;
}

.fc-40
{
    width: 40%;
}

.fc-30
{
    width: 30%;
}

.fc-flex
{
    display: flex;
    flex-direction: column;
}

.fc-center
{
    align-items: center;
}

.fc-right
{
    align-items: flex-end;
}

.sub-footer
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
    padding: 25px 0;   
    color: #999999;
    font-size: 12px;
    letter-spacing: .0em;
}


@media screen and (max-width: 1440px)
{
    .footer-content
    {
        width: 90%;
    }
}

@media screen and (max-width: 778px) {
    .footer-content{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
    .fc-40, .fc-30
    {
        align-items: center;
        width: 100%;
        text-align: center;
    }
    
    .fc-ws
    {
        margin: 25px;
    }
    
    .title
    {
        font-size: 1.15em;
        letter-spacing: 1px;
    }

    .sub-footer
    {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}