@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: rgba(181, 104, 218, 0.247); */
  transition: all 0.1s ease-in-out;
}

body::-webkit-scrollbar
{
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.container
{
  width: 60%;
  margin: 0 auto;
}

.d-hidden
{
  display: none;
}

.menu-outline
{
  display: none;
}

.menu-close
{
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 30px;
}

#w-75
{
  width: 7.5%;
}

#w-425
{
  width: 47.5%;
}


.showAll
{
  white-space: nowrap;
  color:rgba(0,13,36, .95)
}

@media screen and (max-width: 450px){
 

  .lb-row .team-info .team-badge
  {
    display: none;
  }
}


.promo-banner
{
  background: -moz-linear-gradient(125deg, rgba(1,41,111) 0%, hwb(218 0% 86%) 100%);
  background: -webkit-linear-gradient(125deg, rgba(1,41,111) 0%, rgba(0,13,36) 100%);
  background: linear-gradient(125deg, rgba(1,41,111) 0%, rgba(0,13,36) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01296f",endColorstr="#000d24",GradientType=1); 

}

.promo-banner .pb-parent
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 60%;
  margin: 0 auto;
}

.promo-banner .pb-title
 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25em;
  letter-spacing: 1.5px;
 }

 .pb-button
 {
  border: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 40px;
  color: white;
  font-size: .8em;
  font-weight: 800;
  text-transform: uppercase;
  height: 50px;
}

.page-header
{
    /* position: fixed;
    top: 0; */
    width: 100%;
    height: 400px;
    z-index: -1;
    background: rgb(1,41,111), url('/template.svg') no-repeat center;
    background: -moz-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36, .95) 100%) , url('/template.svg') no-repeat center;
    background: -webkit-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%),  url('/template.svg') no-repeat center;
    background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%), url('/template.svg') no-repeat center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01296f",endColorstr="#000d24",GradientType=1);
    
    background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%), url('/template.svg') no-repeat center;
    background-size: cover;
}

.page-header-info
{
  padding-top: 50px;
}

.page-title
{
  color: white;
  text-transform: uppercase;
  font-size: clamp(40px, 4vw, 4em);
  letter-spacing: 1.5px;
  font-weight: 800;
}

.page-map
{
  color: white;
  text-transform: uppercase;
}

.page-content-body-text p
{
  text-align: justify;
  margin: 20px 0;
}

.page-content-body-text span li
{
  margin-left: 50px;
  list-style: square;
}

.tab-header{
  min-height: 120px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
/* 
  TAB __ CONTENT
*/

.tabs__wrapper{
  margin-bottom: 30px;
}

.nav__tab{
  position: relative;
}


/* Firefox */


/* Chrome, Edge, and Safari */
/* .nav__tab::-webkit-scrollbar {
  height: 4px;
  border-radius: 10px;
}

.nav__tab::-webkit-scrollbar-track { 
  border-radius: 10px;
  background: #ffffff;
}

.nav__tab::-webkit-scrollbar-thumb {
  background-color: #01296f;
  border-radius: 10px;
} */

@media screen and (max-width: 770px) {
  .promo-banner .pb-parent
  {
    width: 90%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* Carousel */

:root{
  --slides-to-show-1: 6;
  --slides-to-show-2: 8;
}

.sponsor{
  margin: 50px 0;
}

.carousel__wrapper
{
  width: 100vw;
  display: block;
  height: 150px;
}

.carousel
{
  display: flex;
  align-items: center;
  height: inherit;
  animation: infiniteScroll 10s linear infinite;
}

.carousel2
{
  display: flex;
  align-items: center;
  height: inherit;
  animation: infiniteScroll2 10s linear infinite;
}

.carousel .carousel__slide img
{
  height: 50px;
  width: 250px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.3s ease;
  cursor: pointer;
}

.carousel .carousel__slide img:hover, 
.carousel2 .carousel__slide img:hover
{
  filter: grayscale(0%);
  transition: 0.3s ease;
}

@keyframes infiniteScroll
{
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(var(--slides-to-show-1) * -300px))};
}

.carousel__slide
{
  margin: 0 25px;
}

.carousel2 .carousel__slide img
{
  height: 50px;
  width: 200px;
  object-fit: contain;
  filter: grayscale(100%);
  cursor: pointer;
}

@keyframes infiniteScroll2
{
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(var(--slides-to-show-2) * -250px))};
}



/* MANAGEMENT*/

.management__container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 325px));
  grid-gap: 15px 15px;
  justify-content: center;
  align-items: baseline;
}
.team{
  padding-bottom:70px;
  font-family:'Poppins', sans-serif
}
.team .section-title{
  text-align:left;
  margin-bottom:50px
}
.team__item{
  height:480px;
  position:relative;
  z-index:1;
  margin-bottom:30px;
  overflow:hidden;
  background-position:center;
  background-size:cover
}
.team__item:after{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background:rgba(34,48,96,0.8);
  content:"";
  z-index:-1;
  opacity:0;
  -webkit-transition:all,0.5s,ease-out,.5s;
  -o-transition:all,0.5s,ease-out,.5s;
  transition:all,0.5s,ease-out,.5s
}
.team__item:hover:after{
  opacity:1
}
.team__item:hover .team__text{
  top:0
}
.team__item:hover .team__text .team__title{
  border-bottom:1px solid rgba(183,183,183,0.2);
  padding:0 0 26px;
  margin-bottom:26px;
  opacity:0;
  visibility:hidden;
  position:relative;
  bottom:initial;
  opacity:1;
  visibility:visible
}
.team__item:hover .team__text p{
  top:0;
  opacity:1;
  visibility:visible;
  -webkit-transition:all .5s ease .3s;
  -o-transition:all .5s ease .3s;
  transition:all .5s ease .3s
}
.team__item:hover .team__text .team__social{
  opacity:1;
  visibility:visible;
  bottom:34px;
  -webkit-transition:all .5s ease .5s;
  -o-transition:all .5s ease .5s;
  transition:all .5s ease .5s
}
.team__text{
  height:100%;
  top:361px;
  position:relative;
  padding:35px 30px 30px;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s
}
.team__text .team__title{
  border-bottom:1px solid rgba(183,183,183,0.2);
  padding:0 0 26px;
  margin-bottom:26px;
  position:relative
}
.team__text .team__title h4{
  color:#fff;
  font-weight:700;
  margin-bottom:6px
}
.team__text .team__title span{
  font-size:15px;
  color: white;
}
.team__text p{
  color:#e4e4e4;
  line-height:26px;
  opacity:0;
  visibility:hidden;
  position:relative;
  top:50px;
  -webkit-transition:all .3s;
  -o-transition:all .3s;
  transition:all .3s
}
.team__text .team__social{
  position:absolute;
  left:0;
  width:100%;
  padding:0 30px;
  bottom:0;
  opacity:0;
  visibility:hidden
}
.team__text .team__social a{
  display:inline-block;
  font-size:20px;
  color:#fff;
  margin-right:34px;
  -webkit-transition:all,.3s;
  -o-transition:all,.3s;
  transition:all,.3s
}
.team__text .team__social a:last-child{
  margin-right:0
}
.team__text .team__social a:hover{
  color: red
}
@media(max-width:768px) {
   .team__item{
      height:350px
  }
   .team__text{
      padding:25px 20px 20px
  }
}
