@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --accent-color: #01296f;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body
{
    background: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden ;
} 

a {
    text-decoration: none;
}

ul,
li {
  list-style: none;
}

button
{
  border: none;
  background: transparent;
  cursor: pointer;
}

.test
{
  height: 1000px;
  background: paleturquoise;
}

.screen {
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: fade 0.4s ease-in forwards;
  
  background: rgb(1,41,111);
  background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%);
  background: -moz-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36, .95) 100%);
  background: -webkit-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%);
  background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01296f",endColorstr="#000d24",GradientType=1);
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.balls{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  margin: 0 6px 0 0;
  animation: oscillate 0.7s ease-in forwards infinite;
}

.one {
  animation-delay: 0.5s;
}
.two {
  animation-delay: 0.75s;
}
.three {
  animation-delay: 1s;
}

@keyframes oscillate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
