@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body
{
    background: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
} 

a {
    text-decoration: none;
}

ul,
li {
  list-style: none;
}

button
{
  border: none;
  background: transparent;
  cursor: pointer;
}

.test
{
  height: 1000px;
  background: paleturquoise;
}

.hidden
{
  opacity: 0;
  transition: all 1s ease;
}

.show
{
  opacity: 1;
}