*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
::-webkit-scrollbar {
    display: none;
}
  
html,
body
{
    background: #F7F7F7;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
} 