.hero
{
    /* position: fixed;
    top: 0; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgb(1,41,111), url('../public/la-salle-hero.jpg') no-repeat center;
    background: -moz-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,0.83) 100%), url('../public/la-salle-hero.jpg') no-repeat center;
    background: -webkit-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,0.83) 100%),  url('../public/la-salle-hero.jpg') no-repeat center;
    background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,0.83) 100%), url('../public/la-salle-hero.jpg') no-repeat center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01296f",endColorstr="#000d24",GradientType=1);
    
    background-attachment: fixed;
    background-size: cover;
}

hr {
    width: 16.3em;
    margin-right: 2em;
    height: 3px;
    background-color: white;
}

a{
    color: white;
}

.hero-email
{
    position: absolute;
    left: 0;
    bottom: 20%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;

}