.hero
{
    width: 100vw;
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100); */
    z-index: -1;
    
    background: rgb(1,41,111), url('../public/la-salle-hero.jpg') no-repeat center;
    background: -moz-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,0.83) 100%), url('../public/la-salle-hero.jpg') no-repeat center;
    background: -webkit-linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,0.83) 100%),  url('../public/la-salle-hero.jpg') no-repeat center;
    background: linear-gradient(125deg, rgba(1,41,111,1) 0%, rgba(0,13,36,0.83) 100%), url('../public/la-salle-hero.jpg') no-repeat center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01296f",endColorstr="#000d24",GradientType=1);
    
    background-attachment: fixed;
    background-size: cover;
}

.hero-content{
    position: relative;
    height: 100%;
}

hr {
    width: 20vw;
    margin-right: 2em;
    height: 3px;
    background-color: white;
}

a{
    color: white;
}

.hero-title h1
{
  font-family: 'Roboto', sans-serif;
  font-size: 7em;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  line-height: 85%;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}


.hero-email
{
    position: absolute;
    left: 0;
    bottom: 20%;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-title
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1440px) {

    .hero-title h1
    {
        font-size: 5.5em;
    }
}

@media screen and (max-width: 776px) {
    .hero .container{
        width: 75%;
    }

    .hero-title h1
    {
        font-size: 4.5em;
        line-height: 85%;
    }
}


@media screen and (max-width: 500px) {
    .hero .container{
        width: 90%;
    }

    .hero-title h1
    {
        font-size: 4em;
        line-height: 85%;
    }

}