*{
  /* background-color: rgba(0, 255, 204, 0.25); */
}
.parent {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 75px auto;
}

.title {
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.parent ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category {
  display: flex;
  flex-direction: row;
}

.category .tablinks, .show-all {
  margin-bottom: 20px;
  margin-right: 30px;
  padding-bottom: 5px;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000d34;
}

.show-all{
  font-weight: 700;
}

.tablinks.active::before
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #01296f;
}

.tablinks{
  position: relative;
}

.tablinks:after 
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: #01296f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.tablinks:hover:after
{
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* MATCH */

.match {
  display: flex;
  align-items: center;
  position: relative; 
  width: 100%;
  padding: 20px 50px;
  min-height: 150px;
  border-bottom: 2px solid #F0F0F0;
 }
 
 .match:last-child{
   border-bottom: none;
 }
 
 .home-team, .away-team {
   display: flex;
   align-items: center;
   flex: 1 1;
 }
 
 .home-team{
   justify-self: start;
 }
 
 .away-team {
   justify-content: flex-end;
 }
 
 
 .match-details {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 .team-badge{
   margin: 0 20px;
   min-width: 50px;
 }
 
 .team-name {
   font-size: .75em;
   font-weight: 600;
   margin: 5px 0;
 }
 
 .match-type{
   font-size: .75em;
   font-weight: 600;
   margin: 5px 0;
 }
 
 .match-score {
   font-size: .9em;
   font-weight: 600;
   margin: 20px;
 }
 
 .match-score span{
   background: #01296f;
   color: white;
   border-radius: 5px;
   padding: 7.5px 10px;
  
 }
 
 .match-status {
   font-size: .75em;
   font-weight: 600;
 }
 
 .match-date {
   font-size: .75em;
   font-weight: 600;
 }

.team__upcoming{
  display: none;
}

th
{
  text-align: left;
}

.leaderboard-header
{
  color: white;
  background: #01296f;
  margin: 10px;
}

th{
  padding: 20px; 
  font-size: 12px;
  font-weight: 900; 
  text-transform: uppercase;
  letter-spacing: 0.6px
}

tr
{
  background: white;
}

.lb-row
{
  border-bottom: 1px solid #F7F7F7;
}

td
{
  padding: 20px; 
  font-size: 12px;
  font-weight: 500; 
  text-transform: uppercase;
  letter-spacing: 0.24px;
}

.c-text
{
  text-align: center;
}

.lb-pos
{
  font-weight: 600;
}

.lb-team
{
  font-weight: 700;
  letter-spacing: 0.6px;
}

.team-info
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

table
{
  border-collapse: collapse; 
}

.d-none{
  display: none;
}

@media screen and (max-width: 1440px )
{
  .parent {
    width: 80%;
  }
}

@media screen and (max-width: 1024px)
{
  .team-name{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .match {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 800px)
{
  .parent {
    width: 90%;
  }

  .match {
    padding: 20px 0;
  }

  .team-badge span img
  {
    margin-bottom: 10px;
  }
  
  .lb-team .team-info .team-badge
  {
    margin-right: 15px;
  }

  .c-hidden{
    display: none;
  }

  .c-text
  {
    font-size: .75em;
  }

  .home-team{
    flex-direction: column;
  }

  .away-team{
    flex-direction: column-reverse;
  }

  .home-team .team-badge, .away-team .team-badge{
    margin: 15px;
  }

  .team__upcoming
  {
    display: flex;
    align-items: center;
  }

  .match__upcoming
  {
    flex-direction: column;
    min-height: 150px;
  }
  
  .match__upcoming .team-name, .team__none
  {
    display: none;
  }
  
}

@media screen and (max-width: 700px)
{
  .parent ul{
    overflow-x: scroll;
  }

}


@media screen and (max-width: 450px)
{
  td{
    padding: 20px;
  }

  .match-type{
    white-space: nowrap;
    font-size: .6em;
  }

  .team-name
  {
    font-size: .6em;
  }
}


/* CALENDER */
#myCal{
  width: 307px;
  min-width: 307px;
  margin-bottom: 30px;
  margin-right: 15px;
}
.calendar
{
  position: relative;
  display: flex !important;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}

.calendar .events__container
{
  position: relative; 
  float: right;
  min-width: 307px;
  flex-grow: 1;
  margin-bottom: 30px;
}

.accordian{
  width: 100%;
}

.accordian__title{
  cursor: pointer;
  position: relative;
}

.calendar .event__details{
  background: var(--accent-color);
  color: white;
  font-weight: 600;
  display: grid;
  /* width: 100%; */
  margin-bottom: 15px;
  min-height: 50px;
  height: 50px; 
  place-items: center;
}

.accordian__content {
  
  display: block;
  background-color: white;   
  max-height: 0;
  overflow: hidden;
  border: 0px dashed #01296f;
  transition: all 0.5s ease-in-out;
}

.accordian__content.open{
  border: 0.5px dashed #01296f;
  max-height: 200px;
  margin-bottom: 15px;
}


.chevron-arrow{
  display: inline-block;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  width: 10px; height: 10px;
  transform: rotate(-45deg);
  position: absolute;
  right: 5%;
  transition: transform 0.4s ease-in;
}

.chevron-arrow.open{
  transform: rotate(45deg);
}

.calendar .no__events
{
  display: grid;
  width: 100%;
  height: 100%;
  margin: auto;
  place-items: center;
}

.tab-header .error__match{
  letter-spacing: 1px;
  height: 120px;
  width: 100%;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 801px) {
  .calendar{ 
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 693px)
{

  #myCal{
    margin-right: 0;

  }
  .calendar
  {
    max-width: 307px;
  }

  .calendar .events__container
  {
    margin-top: 10px;
    width: 307px;
    min-height: 50px;
  }

  .calendar .event__details{
    width: 100%;
    border-radius: 3px;
  }
}


.expired-notice {
  text-align: center;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: .75rem;
}

.show-counter {
  margin: 11px ;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  font-family: 'Montserrat', sans-serif;
  background-color: #01296f;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 5px;

  line-height: 1;

  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0 0.5rem;
}

.show-counter .countdown.danger {
  color: white;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.countdown-indicator {
  display: inline-flex;
  align-items: center;
  flex-flow: column
}

.countdown-indicator span {
  font-size: 0.5em;
}

.vs.notFin, .match-type.notFin {
  display: none;
}

@media screen and (max-width: 500px) {
  .match.notFin{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .vs.notFin, .match-type.notFin {
    display: block;
  }

  .home-team.notFin .team-name, .away-team.notFin .team-name{
    display: none;
  }

  .match-type.notFin{
    text-align: center;
    order: 1;
  }

  .home-team.notFin, .away-team.notFin, .vs.notFin{
    order: 2;
  }

  .match-details.notFin{
    order: 3;
  }

  .match-type.notFin, .match-details.notFin {
    width: 500px;
  }

  .home-team.notFin{
    margin-right: -50px;
  }

  .away-team.notFin{
    margin-left: -50px;
  }

  .match-details.notFin .match-type{
    display: none;
  }

}